---
import { BlogPost, asc, db } from "astro:db";

const Posts = await db.select().from(BlogPost).orderBy(asc(BlogPost.published));
import BlogPostCard from "../../components/BlogPost.astro";
import Layout from '../../layouts/Layout.astro';
import { GetAuthor } from '../API/getauthor';
// Posts.map((BlogPost) => (
//   const author = await GetAuthor(String(Posts.authorid))
// ))
// const author = await GetAuthor(String(BlogPost.authorid));
---
<Layout title="Blog" description='Altie122' page="/">
  <div class="container mx-auto">
    <h1 class="text-2xl text-center">Blog :D</h1>
    <p class="text-center">I really don't know what to put here...</p>
    <div class="grid grid-cols-2 md:gid-cols-1 gap-5 m-5">
      {
        Posts.map((BlogPost) => (
          <BlogPostCard url={"./posts/" + BlogPost.slug} title={BlogPost.title} image={BlogPost.image_url} date={BlogPost.published} author={"Alite"} description={BlogPost.description}/>
        ))
      }
    </div>
  </div>
</Layout>