---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import LinksCard from "~/components/LinksCard";
import BlogCard from "~/components/BlogCard.astro";
// import { ProjectsCard } from "~/components/ProjectsCard";

let allPosts = [
  ...(await getCollection("posts", ({ data }) => {
    return data.isDraft !== true && data.isHidden !== true;
  })),
];
allPosts = allPosts.sort(
  (a, b) =>
    new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf(),
);
let newestPost = allPosts![0];

const linksCollection = (await getCollection("links")).map((link) => link.data);

const linksList = linksCollection.filter((link) => link.type === "link");
// const projectsList = linksCollection.filter((link) => link.type === "project");

const randomLink =
  linksList.length > 0
    ? linksList[Math.floor(Math.random() * linksList.length)]
    : null;
// const randomProject =
//   projectsList.length > 0
//     ? projectsList[Math.floor(Math.random() * projectsList.length)]
//     : null;
---

<Layout title='Home' description='Altie122' page='/'>
  <main>
    <div class='prose-no-y-padding'>
      <h1>Altie122</h1>
      <p>
        Looking for Altie122 Studios, LLC's website? They are borrowing the <a
          href='https://studios.altie122.xyz'>studios.altie122.xyz</a
        > subdomain for now, check there!
      </p>
      {
        randomLink && (
          <>
            <h2>Links:</h2>
            <p>
              Links have moved to the <a href='/links'>Links</a> page.
            </p>
            <br />
            <h3>Here is one to check out:</h3>
          </>
        )
      }
    </div>

    {
      randomLink && (
        <div class='prose-container-no-y-padding'>
          <LinksCard link={randomLink} client:only='react' />
        </div>
      )
    }
    <!-- {
      randomProject && (
        <>
          <div class='prose-no-y-padding'>
            <h2>Projects:</h2>
            <p>
              Projects have moved to the <a href='/projects'>Projects</a> page.
            </p>
            <br />
            <h3>Here is one to check out:</h3>
          </div>
          <div class='prose-container-no-y-padding'>
            <ProjectsCard project={randomProject} client:only='react' />
          </div>
        </>
      )
    } -->
    {
      newestPost && (
        <div class='prose pb-16'>
          <h2>Newest Blog Post:</h2>
          <br />
          <BlogCard entry={newestPost} />
        </div>
      )
    }
  </main>
</Layout>
