---
import Layout from "../layouts/Layout.astro";
import LinksCard from "~/components/LinksCard";
import { getCollection } from "astro:content";

const linksList = (await getCollection("links")).filter((link) => link.data.type === "link");
---

<Layout title='Links' description='Links' page='links'>
  <main class='container mx-auto'>
    <h1 class='text-3xl font-bold'>Links</h1>
    <br />
    <hr />
    <br />
    <div
      class='grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 p-4 bg-accent-foreground/10 rounded-lg'
    >
      {linksList.map((link) => <LinksCard link={link.data} client:only='react' />)}
    </div>
  </main>
</Layout>
