---
interface Props {
  title: string;
  description: string;
  page: string;
}

const { title, description, page } = Astro.props;

const Title = title + " | Altie122";

import "@/styles/globals.css";

import Head from "../components/head.astro";
import Root from "./Root";
import {
  SignedIn,
  SignedOut,
  UserButton,
  SignInButton,
} from "@clerk/astro/components";
---

<!doctype html>
<html lang='en'>
  <head>
    <script is:inline>
      (function () {
        const getThemePreference = () => {
          if (
            typeof localStorage !== "undefined" &&
            localStorage.getItem("theme")
          ) {
            return localStorage.getItem("theme");
          }
          return window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light";
        };
        const theme = getThemePreference();
        const isDark = theme === "dark";
        document.documentElement.classList[isDark ? "add" : "remove"]("dark");
      })();
    </script>
    <Head title={Title} description={description} page={page} />
  </head>
  <body>
    <Root client:only='react'>
      <div class='w-full p-2 pt-0'>
        <div
          class='main-scroll'
        >
          <slot />
        </div>
      </div>
    </Root>
  </body>
</html>
